* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:  url('img/back.jpg');
  background-size: cover;

  width: 100vw;
  height: 100vh;

  font-family: 'Open', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  color: #ffcc00;

  margin: 20vh auto;

  font-size: calc(5vw + 20px);
  text-shadow: 0 0 10px black,
               0 0 10px black,
               0 0 10px black;
}

.container {
  width: 90vw;
  height: 100px;

  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
  gap: 10px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;

  background-color: #000000aa;
  color: #fff;

  font-size: calc(3vh + 20px);

  border: 3px solid #fff;

  user-select: none;

  cursor: pointer;

  transition: transform .2s;

}

.active {
  transform: scale(1.1);
  border-color: #ffcc00;
  box-shadow: 0 0 50px #ffcc00;
}